body {
    background-color: rgb(213, 240, 243);
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-size: medium;
}

header {
    color: white;
    background-color: rgb(226, 11, 11);
    margin-bottom: 25px;
    height: 75px;
    text-align: center;
}

/* The style in the header is here when it could be done in page template */