body {
    background-color: rgb(213, 240, 243);
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-size: medium;
}

.header {
    color: black;
    background-color: grey;
    padding: 15px, 15px, 15px, 15px;
    height: 75px;
    text-align: center;
}

.Manager-color {
    background-color:rgb(4, 0, 255)
}

